.bd-callout-danger {
    padding: 1.25rem;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    background-color: rgb(229 49 67 / 8%);
    border-left: 0.25rem solid var(--bd-callout-border, var(--bs-gray-300));
    border-left-width: ;
    border-left-style: ;
    border-left-color: rgb(209 37 53 / 50%);
}

.bd-callout-success {
    padding: 1.25rem;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    background-color: rgb(92 243 118 / 20%);
    border-left: 0.25rem solid var(--bd-callout-border, var(--bs-gray-300));
    border-left-width: ;
    border-left-style: ;
    border-left-color: rgb(100 235 31 / 50%);
}

.bd-callout-warning {
    padding: 1.25rem;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    background-color: rgb(247 231 45 / 25%);
    border-left: 0.25rem solid var(--bd-callout-border, var(--bs-gray-300));
    border-left-width: ;
    border-left-style: ;
    border-left-color: rgb(239 212 22 / 50%);
}

#loading {}
  #loading:before {
    content: "";
    width: 80px;
    height: 80px;
    border: 3px solid #ffa200;
    display: block;
    border-radius: 50%;
    position: absolute;
    top: 35%;
    left: 50%;
    opacity: 0;
    transform: translate(-50%, -50%);
    animation-name: LoaderCicle;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear; }
  #loading:after {
    content: "";
    width: 80px;
    height: 80px;
    border: 3px solid #ffa200;
    display: block;
    border-radius: 50%;
    position: absolute;
    top: 35%;
    left: 50%;
    opacity: 0;
    transform: translate(-50%, -50%);
    animation-name: LoaderCicle;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-delay: 1s; }

.navbar-brand-custom img{ max-height: 43px; transition-duration: 0.5s; }