{% load static %}

<!DOCTYPE html>
<html lang="ru">

{% block head %}
<head>
    
    <!-- metas -->
    <meta charset="utf-8" />
    <meta name="author" content="Chitrakoot Web" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="keywords" content="Car Service & Repair HTML Template" />
    <meta name="description" content="Motors - Car Service & Repair HTML Template" />

    <!-- title  -->
    <title>REPORTCAR - Проверить автомобиль по ВИН номеру или госномеру</title>

    <!-- favicon -->
    <link rel="shortcut icon" href="{% static 'img/logos/dark-wheel.jpeg' %}" />
    <link rel="apple-touch-icon" href="{% static 'img/logos/dark-wheel.jpeg' %}" />
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'img/logos/dark-wheel.jpeg' %}" />
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'img/logos/dark-wheel.jpeg' %}" />

    <!-- plugins -->
    <link rel="stylesheet" href="{% static 'css/plugins.css' %}">

    <!-- search css -->
    <link rel="stylesheet" href="{% static 'search/search.css' %}">

    <!-- quform css -->
    <link rel="stylesheet" href="{% static 'quform/css/base.css' %}">

    <!-- theme core css -->
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">

    <!-- custom css -->
    <link href="{% static 'css/custom.css' %}" rel="stylesheet">

</head>
{% endblock head %}

<body>
    
    <!-- PAGE LOADING
    ================================================== -->
    <div id="preloader"></div>

    <!-- MAIN WRAPPER
    ================================================== -->
    <div class="main-wrapper">

        <!-- HEADER
        ================================================== -->
        {% block header %}
        {% block header_style %}
        <header class="header-style1 menu_area-light">
            {% endblock %}

            <div class="navbar-default border-bottom border-color-light-white">
                <div class="container-fluid px-sm-2-9">
                    <div class="row align-items-center">
                        <div class="col-12 col-lg-12">
                            <div class="menu_area alt-font">
                                <nav class="navbar navbar-expand-lg navbar-light p-0">
                                    {% block logo %}
                                    <div class="navbar-header navbar-header-custom">
                                        <!-- start logo -->
                                        <a href="{% url 'home' %}" class="navbar-brand"><img id="logo" src="{% static 'img/logos/logo-white.gif' %}" alt="logo"></a>
                                        <!-- end logo -->
                                    </div>
                                    {% endblock logo %}
                                    <div class="navbar-toggler"></div>

                                    <!-- menu area -->
                                    <ul class="navbar-nav align-items-lg-center ms-auto" id="nav" style="display: none;">
                                        <li><a href="{% url 'home' %}">Главная</a></li>
                                        <li><a href="{% url 'pricing' %}">Наши цены</a></li>
                                        <li><a href="{% url 'faq' %}">FAQ</a></li>
                                        <li>
                                            <a href="#!">Информация</a>
                                            <ul>
                                                <li><a href="{% url 'politics' %}">Политика конфедициальности и обработки персональных данных</a></li>
                                                <li><a href="{% url 'offer' %}">Публичная оферта</a></li>
                                                <li><a href="{% url 'tariffs' %}">Тарифные планы</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="#footer_">Контакты</a></li>
                                    </ul>
                                    <!-- end menu area -->

                                    <!-- start attribute navigation -->
                                    {% block navigation %}
                                    <div class="attr-nav align-items-lg-center ms-lg-auto">
                                        {% if request.user.is_authenticated %}
                                        <ul><li><a href="{% url 'lk' %}" style="text-decoration: underline; color: orange;">{{ request.user }}</a></li></ul>
                                        {% else %}
                                        <ul>
                                            <li><a href="{% url 'login' %}" style="text-decoration: underline; color: orange;">Войти</a></li>
                                        </ul>
                                        {% endif %}
                                    </div>
                                    {% endblock navigation %}
                                    <!-- end attribute navigation -->

                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </header>
        {% endblock header %}

        <!-- BANNER
        ================================================== -->
        {% block banner %}
        <div class="top-position1 z-index-1">
            <div class="slider-fade banner1">
                <div class="owl-carousel owl-theme w-100">
                    <div class="text-left item bg-img" data-overlay-dark="5" data-background="{% static 'img/banner/main.jpg' %}">
                        <div class="container h-100">
                            <div class="d-table h-100 w-100">
                                <div class="d-table-cell align-middle caption">
                                    <div class="row justify-content-center">
                                        <div class="col-lg-9">
                                            <div class="banner-content">
                                                <h1 style="color: white;">Проверить автомобиль по ВИН</h1>
                                                <form method="post" id="form-input-mainnn">
                                                <div>
                                                    {% csrf_token %}
                                                    <div class="form-check form-check-inline">
                                                      <label style="color: white;">
                                                          <input class="form-check-input" type="radio" name="select" id="inlineRadio1" value="VIN" checked>
                                                          Проверить по VIN</label>
                                                    </div>
                                                    <div class="form-check form-check-inline">
                                                      <label style="color: white;">
                                                          <input class="form-check-input" type="radio" name="reject" id="inlineRadio2" value="GOS">
                                                          Проверить по госномеру</label>
                                                    </div>
                                                    <div class="input-group mb-3">
                                                        <input type="text" class="form-control" name="forminnumber" placeholder="1ABCD12345EF26789" id="entervalue" required>
                                                        <button class="butn butn-outline-secondary butn-white-hover" type="submit">Поверить авто</button>
                                                    </div>
                                                 </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endblock banner %}
        {% block body %}

        {% endblock body %}
        <!-- EXTRA
        ================================================== -->
        {% block contacts %}
        <div class="section-full">
            <div class="row g-0 wow fadeInUp" data-wow-delay="100ms">
                <div class="col-lg-6">
                    <div class="support-box">
                        <i class="ti-email"></i>
                        <h3 class="text-white z-index-1 mb-0">support@reportcar.ru</h3>
                    </div>
                </div>
<!--                <div class="col-lg-4">-->
<!--                    <div class="support-box">-->
<!--&lt;!&ndash;                        <i class="ti-user"></i>&ndash;&gt;-->
<!--&lt;!&ndash;                        <h3 class="text-white z-index-1 mb-0">Phone: (+44) 123 456 789</h3>&ndash;&gt;-->
<!--                    </div>-->
<!--                </div>-->
                <div class="col-lg-6">
                    <div class="support-box">
                        <i class="ti-headphone-alt"></i>
                        <h3 class="text-white z-index-1 mb-0">Поддержка 24 часа</h3>
                    </div>
                </div>
            </div>
        </div>
        {% endblock contacts %}

        <!-- FOOTER
        ================================================== -->
        {% block footer %}
        <footer id="footer_">
            <div class="container">
                <div class="row mb-6 mt-n2-6">
                    <div class="col-sm-6 col-lg-3 mt-2-6 wow fadeIn" data-wow-delay="200ms">
                         <div class="mb-1-6 mb-lg-1-9 footer-logo">
                                <img src="{% static 'img/logos/logo-white.gif' %}" alt="...">
                            </div>
                    </div>
                    <div class="col-sm-6 col-lg-3 mt-2-6 wow fadeIn" data-wow-delay="600ms">
                        <div class="ps-lg-1-9 ps-xl-2-5">
                            <div class="mb-1-6 mb-lg-1-9">
                                <div class="separator"></div>
                            </div>
                            <ul class="footer-list-style1">
                                <li><a href="{% url 'pricing' %}">Наши цены</a></li>
                                <li><a href="{% url 'faq' %}">FAQ</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3 mt-2-6 wow fadeIn" data-wow-delay="600ms">
                        <div class="ps-lg-1-9 ps-xl-2-5">
                            <div class="mb-1-6 mb-lg-1-9">
                                <div class="separator"></div>
                            </div>
                            <ul class="footer-list-style1">
                                <li><a href="{% url 'politics' %}">Политика конфедициальности и обработки персональных данных</a></li>
                                <li><a href="{% url 'offer' %}">Публичная оферта</a></li>
                                <li><a href="{% url 'tariffs' %}">Тарифные планы</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3 mt-2-6 wow fadeIn" data-wow-delay="800ms">
                    </div>
                </div>
                <div class="footer-bar borders-top border-color-light-white">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <p class="d-inline-block">ИП: Афанасьев И.Ю. &nbsp;ИНН: 772501310280 &nbsp;ОГРН: 322774600569678</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        {% endblock footer %}

    </div>

    <!-- SCROLL TO TOP
    ================================================== -->
    <a href="#!" class="scroll-to-top"><i class="fas fa-angle-up" aria-hidden="true"></i></a>

    <!-- all js include start -->
    {% block scripts %}
    <!-- jQuery -->
    <script src="{% static 'js/jquery.min.js' %}"></script>

    <!-- popper js -->
    <script src="{% static 'js/popper.min.js' %}"></script>

    <!-- bootstrap -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

    <!-- search -->
    <script src="{% static 'search/search.js' %}"></script>

    <!-- navigation -->
    <script src="{% static 'js/nav-menu.js' %}"></script>

    <!-- tab -->
    <script src="{% static 'js/easy.responsive.tabs.js' %}"></script>

    <!-- owl carousel -->
    <script src="{% static 'js/owl.carousel.js' %}"></script>

    <!-- jquery.counterup.min -->
    <script src="{% static 'js/jquery.counterup.min.js' %}"></script>

    <!-- stellar js -->
    <script src="{% static 'js/jquery.stellar.min.js' %}"></script>

    <!-- waypoints js -->
    <script src="{% static 'js/waypoints.min.js' %}"></script>

    <!-- countdown js -->
    <script src="{% static 'js/countdown.js' %}"></script>

    <!-- wow js -->
    <script src="{% static 'js/wow.js' %}"></script>

    <!-- jquery.magnific-popup js -->
    <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>

    <!-- lightgallery js -->
    <script src="{% static 'js/lightgallery-all.js' %}"></script>

    <!-- mousewheel js -->
    <script src="{% static 'js/jquery.mousewheel.min.js' %}"></script>

    <!-- isotope.pkgd.min js -->
    <script src="{% static 'js/isotope.pkgd.min.js' %}"></script>

    <!--  clipboard js -->
    <script src="{% static 'js/clipboard.min.js' %}"></script>

    <!--  prism js -->
    <script src="{% static 'js/prism.js' %}"></script>

    <!-- custom scripts -->
    <script src="{% static 'js/main.js' %}"></script>

    <!-- form plugins js -->
    <script src="{% static 'quform/js/plugins.js' %}"></script>

    <!-- form scripts js -->
    <script src="{% static 'quform/js/scripts.js' %}"></script>

    <!-- all js include end -->
    {% endblock scripts %}

    {% block extrascripts %}
    {% endblock extrascripts %}
</body>

</html>