{% extends 'base.html' %}
{% load static %}

{% block banner %}
<section class="page-title-section top-position1 bg-img cover-background" data-overlay-dark="7" data-background="{% static 'img/bg/faq.jpeg' %}">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-12">
                <h1>FAQ</h1>
            </div>
            <div class="col-md-12">
                <div class="breadcrumb">
                    <span class="left-dot"></span>
                    <span class="right-dot"></span>
                    <ul>
                        <li><a href="{% url 'home' %}">Главная</a></li>
                        <li><a href="{% url 'faq' %}">FAQ</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock banner %}

{% block body %}
 <section>
            <div class="container">
                <div class="section-heading wow fadeIn" data-wow-delay="100ms">
                    <h1>Часто задаваемые вопросы</h1>
                    <div class="heading-separator"></div>
                    <p>Мы составили перечень самых популярных вопросов и ответили на них.</p>
                </div>
                <div class="row">
                    <div class="col-lg-6 mb-1-9 mb-md-2-5 mb-lg-0 ps-2-2 ps-lg-2-5 text-center text-lg-start wow fadeIn" data-wow-delay="200ms">
                        <div class="faq-img-bg-left">
                            <img src="{% static 'img/content/faq-img.jpg' %}" class="border-radius-5" alt="...">
                        </div>
                    </div>
                    <div class="col-lg-6 ps-lg-2-5 ps-xl-8 wow fadeIn" data-wow-delay="400ms">
                        <div id="accordion" class="accordion-style1">
                            {% for f in faq %}
                            <div class="card">
                                <div class="card-header" id="heading{{ forloop.counter }}">
                                    <h5 class="mb-0">
                                        <button class="{% if forloop.counter == 1 %}btn btn-link{% else %}btn btn-link collapsed{% endif %}" data-bs-toggle="collapse" data-bs-target="#collapse{{ forloop.counter }}" aria-expanded="{% if forloop.counter == 1 %}true{% else %}false{% endif %}" aria-controls="collapse{{ forloop.counter }}">{{ f.question }}</button>
                                    </h5>
                                </div>
                                <div id="collapse{{ forloop.counter }}" class="{% if forloop.counter == 1 %}collapse show{% else %}collapse{% endif %}" aria-labelledby="heading{{ forloop.counter }}" data-bs-parent="#accordion">
                                    <div class="card-body position-relative">
                                        {{ f.answer }}
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </section>
{% endblock body %}