{% extends 'base.html' %}
{% load static %}

{% block body %}
<!-- INFO
        ================================================== -->
<section class="bg-very-light-gray">
            <div class="container">
                <div class="section-heading wow fadeIn" data-wow-delay="100ms">
                    <h1>Почему нас выбирают</h1>
                    <div class="heading-separator"></div>
                    <p class="alt-font">Многие автомобилисты, желающие получить отчет на интересующий автомобиль,
                        выбирают именно нас из-за ряда преимуществ</p>
                </div>
                <div class="row mt-n1-9">
                    <div class="col-md-6 col-lg-4 mt-1-9 wow fadeInUp" data-wow-delay="200ms">
                        <div class="card card-style1">
                            <img src="{% static 'img/content/1.jpeg' %}" alt="...">
                            <div class="card-body p-0">
                                <div class="title">
                                    <h4 class="h5 text-white mb-0"><span>1</span>Информация из более чем 15 источников</h4>
                                </div>
                                <div class="content">
                                    <div class="inner-content">
                                        <h4 class="h5 text-white mb-3"><a href="#!">Информация из более чем 15 источников</a></h4>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 mt-1-9 wow fadeInUp" data-wow-delay="400ms">
                        <div class="card card-style1">
                            <img src="{% static 'img/content/2.jpeg' %}" alt="...">
                            <div class="card-body p-0">
                                <div class="title">
                                    <h4 class="h5 text-white mb-0"><span>2</span>Максимально быстрое составление отчета</h4>
                                </div>
                                <div class="content">
                                    <div class="inner-content">
                                        <h4 class="h5 text-white mb-3"><a href="#!">Максимально быстрое составление отчета</a></h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 mt-1-9 wow fadeInUp" data-wow-delay="600ms">
                        <div class="card card-style1">
                            <img src="{% static 'img/content/3.jpeg' %}" alt="...">
                            <div class="card-body p-0">
                                <div class="title">
                                    <h4 class="h5 text-white mb-0"><span>3</span>Приятные цены, индивидуальный подход</h4>
                                </div>
                                <div class="content">
                                    <div class="inner-content">
                                        <h4 class="h5 text-white mb-3"><a href="#!">Приятные цены, индивидуальный подход</a></h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
<section class="what-we-offer">
            <div class="what-we-offer-bg">
                <img src="{% static 'img/content/back_car.png' %}" alt="...">
            </div>
            <div class="container">
                <div class="section-heading wow fadeIn" data-wow-delay="100ms">
                    <h1>Что может показать отчет</h1>
                    <div class="heading-separator"></div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-12 mb-2-5 mb-lg-0 wow fadeIn" data-wow-delay="200ms">
                        <div class="what-we-offer-left">
                            <div class="what-we-offer-inner mb-1-9 mb-md-2-5 mb-lg-8">
                                <i class="fas fa-car-crash"></i>
                                <h4 class="text-secondary font-weight-700">Участие в ДТП</h4>
                            </div>
                            <div class="what-we-offer-inner mb-1-9 mb-md-2-5 mb-lg-8">
                                <i class="fas fa-file-invoice"></i>
                                <h4 class="text-secondary font-weight-700">Данные о ПТС</h4>
                            </div>
                            <div class="what-we-offer-inner">
                                <i class="fas fa-file-excel"></i>
                                <h4 class="text-secondary font-weight-700">Ограничения ГИБДД</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12 mb-2-5 mb-lg-0 px-lg-2-5 wow fadeIn" data-wow-delay="300ms">
                        <div class="what-we-offer-center">
                            <div class="what-we-offer-img">
                                <img src="{% static 'img/content/animated.png' %}" alt="...">
                                <img src="{% static 'img/content/yellow_car.png' %}" alt="...">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12 wow fadeIn" data-wow-delay="400ms">
                        <div class="what-we-offer-right">
                            <div class="what-we-offer-inner mb-1-9 mb-md-2-5 mb-lg-8">
                                <i class="fas fa-taxi"></i>
                                <h4 class="text-secondary font-weight-700">Коммерческое использование авто</h4>
                            </div>
                            <div class="what-we-offer-inner mb-1-9 mb-md-2-5 mb-lg-8">
                                <i class="fas fa-cogs"></i>
                                <h4 class="text-secondary font-weight-700">Расчёт ремонтов в страховых компаниях</h4>
                            </div>
                            <div class="what-we-offer-inner">
                                <i class="fas fa-money-bill"></i>
                                <h4 class="text-secondary font-weight-700">Аукцион ТС с тотальным ущербом</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- PROCESS
        ================================================== -->
        <section class="p-0">
            <div class="container">
                <div class="section-heading wow fadeIn" data-wow-delay="100ms">
                    <h1>Как работает наш сервис</h1>
                    <div class="heading-separator"></div>
                </div>
                <div class="row mt-n1-9">
                    <div class="col-lg-3 col-md-6 mt-1-9 wow fadeInUp" data-wow-delay="200ms">
                        <div class="process-style1">
                            <div class="process-number-wrap">
                                <div class="number-inner-wrap">
                                    <div class="process-number">01</div>
                                </div>
                            </div>
                            <div class="process-content">
                                <h4 class="mb-3">Вы вводите VIN или гос. номер автомобиля</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 mt-1-9 wow fadeInUp" data-wow-delay="400ms">
                        <div class="process-style1">
                            <div class="process-number-wrap">
                                <div class="number-inner-wrap">
                                    <div class="process-number">02</div>
                                </div>
                            </div>
                            <div class="process-content">
                                <h4 class="mb-3">Мы собираем информацию из более 15 источников</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 mt-1-9 wow fadeInUp" data-wow-delay="600ms">
                        <div class="process-style1">
                            <div class="process-number-wrap">
                                <div class="number-inner-wrap">
                                    <div class="process-number">03</div>
                                </div>
                            </div>
                            <div class="process-content">
                                <h4 class="mb-3">REPORTCAR формирует отчет</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 mt-1-9 wow fadeInUp" data-wow-delay="800ms">
                        <div class="process-style1 last">
                            <div class="process-number-wrap">
                                <div class="number-inner-wrap">
                                    <div class="process-number">04</div>
                                </div>
                            </div>
                            <div class="process-content">
                                <h4 class="mb-3">Готово!</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- ABOUTUS
        ================================================== -->
        <section class="about-us1">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6 mb-1-9 mb-md-2-2 mb-lg-0 wow fadeIn" data-wow-delay="200ms">
                        <div class="about-img pe-lg-2-3">
                             <div class="about-img-2">
                                <img src="{% static 'img/content/top.jpeg' %}" class="rounded" alt="...">
                            </div>
                            <div class="about-img-1">
                                <img src="{% static 'img/content/bottom.jpeg' %}" class="rounded" alt="...">
                            </div>
                            <div class="square">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 wow fadeIn" data-wow-delay="400ms">
                        <div class="ps-lg-1-9 ps-xl-2-5">
                            <div class="about-content-wrapper">
                                <h1 class="h1 text-secondary mb-4">Авто отчет</h1>
                                <div class="about-years">
                                    <span>{{ counter }}&nbsp;</span>
                                    <div class="border-start border-secondary border-width-3 ps-3 ps-xl-4">
                                        <p class="lead font-weight-500 mb-0 d-inline-block">Именно столько отчетов уже было составлено.</p>
                                    </div>
                                </div>
                                <div class="text-box">
                                    <ul class="list-style1">
                                        <li><a href="#">Пример отчета</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- WHAT WE OFFER
        ================================================== -->

        <!-- TEAM
        ================================================== -->
{% endblock body %}

{% block extrascripts %}
    <script src="{% static 'js/mask.js' %}"></script>
{% endblock extrascripts %}