{% extends 'base.html' %}
{% load static %}

{% block header_style %}
    <header class="header-style">
{% endblock %}
{% block logo %}
    <div class="navbar-header navbar-header-custom">
        <!-- start logo -->
        <a href="{% url 'home' %}" class="navbar-brand-custom"><img id="logo" src="{% static 'img/logos/logo-dark.gif' %}" alt="logo"></a>
        <!-- end logo -->
    </div>
{% endblock logo %}
{% block navigation %}
    <div class="attr-nav align-items-lg-center ms-lg-auto">
        <ul>
            <li><a href="{% url 'logout' %}" style="text-decoration: underline; color: orange;">Выйти</a></li>
        </ul>
    </div>
{% endblock navigation %}

{% block banner %}
{% endblock banner %}

{% block body %}
<section>
    <div class="container">
        <div class="row">
            <!-- service left -->
            <div class="col-lg-4 order-2 order-lg-1">
                <div class="service-details-sidebar pe-lg-1-6 pe-xl-1-9">
                    <aside class="widget widget-nav-menu wow fadeIn" data-wow-delay="200ms" style="visibility: visible; animation-delay: 200ms; animation-name: fadeIn;">
                        <h4 class="widget-title">Личный кабинет<br>{{ request.user }}</h4>
                    </aside>
                    <aside class="widget widget-address wow fadeIn" data-wow-delay="300ms" style="visibility: visible; animation-delay: 300ms; animation-name: fadeIn;">
                        <h4 class="widget-title">Мои подписки</h4>
                        {% if not subscribe %}
                        <ul class="address-info">
                            <li>
                                <a href="#!">Нет активных<br>Купите тариф чтобы получать больше отчетов за меньшую цену</a>
                            </li>
                        </ul>
                        <div class="quform-submit-inner">
                            <p></p>
                            <a href="{% url 'pricing' %}"><button class="butn butn-style1 sm" type="button"><span>Посмотреть доступные подписки</span></button></a>
                            </div>
                        {% else %}
                        <ul class="address-info">
                            <li>
                                <mark>{{ subscribe.rate_type.title }}</mark>
                            </li>
                            <li>
                                Отчетов осталось: <mark>{{ subscribe.report_counter }}</mark>
                            </li>
                            <li>
                                Этап подписки: <mark>{{ subscribe.get_step_display }}</mark><br>
                            </li>
                            <li>
                                Дата следующего начисления отчетов: <mark>{{ subscribe.step_date_expired }}</mark>
                            </li>
                        </ul>
                        <div class="quform-submit-inner">
                            <p></p>
                            <a href="{% url 'prices' %}"><button class="butn butn-style1 sm" type="button"><span>Управлять подпиской</span></button></a>
                            </div>
                        {% endif %}
                    </aside>
                </div>
            </div>
            <!-- end service left -->

            <!-- service right -->
            <div class="col-lg-8 order-1 order-lg-2 mb-2-2 mb-lg-0">
                <h1 style="color: black;">Проверить автомобиль по ВИН</h1>
                    <div>
                        <form method="post" id="form-input-mainnn">
                        <div>
                            {% csrf_token %}
                            <div class="form-check form-check-inline">
                              <input class="form-check-input" type="radio" name="select" id="inlineRadio1" value="VIN" checked>
                              <label class="form-check-label" for="inlineRadio1" style="color: black;">Проверить по VIN</label>
                            </div>
                            <div class="form-check form-check-inline">
                              <input class="form-check-input" type="radio" name="reject" id="inlineRadio2" value="GOS">
                              <label class="form-check-label" for="inlineRadio2" style="color: black;">Проверить по госномеру</label>
                            </div>
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" name="forminnumber" placeholder="1ABCD12345EF26789" id="entervalue" required>
                                <button class="butn butn-outline-secondary butn-white-hover" type="submit">Поверить авто</button>
                            </div>
                         </div>
                        </form>
                    </div>
                <h2 style="color: black;">История проверок</h2>
                {% if redirect == 'success' %}
                <div class="bd-callout-success">
                    <h3 class="mb-3 h4">Отчет сформируется и будет отправлен вам на почту</h3>
                    <u><a href="{% url 'lk' %}">Закрыть</a></u>
                </div>
                {% elif redirect == 'fail' %}
                <div class="bd-callout-warning">
                    <h3 class="mb-3 h4">Оплата прошла не успешно</h3>
                    <u><a href="{% url 'lk' %}">Закрыть</a></u>
                </div>
                {% endif %}
                {% for report in reports %}
                <div class="d-flex">
                    <div class="flex-grow-1 ms-3">
                        <h4 class="mt-0 mb-2 h5">{{ report.model }}</h4>
                        {% if report.is_full_report %}
                        <p>{{ report.gos_number }}<br><u><a href="{{ report.get_absolute_url }}">Просмотреть весь отчет</a></u></p>
                        {% else %}
                        <p>Отчет формируется и будет отправлен вам на почту</p>
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
                <div>
                    <p></p>
                    <a href="{% url 'reports' %}"><button class="butn butn-outline-secondary butn-white-hover" type="submit"><span>Посмотреть всю историю</span></button></a>
                </div>
            </div>
            <!-- end service right -->
        </div>
    </div>
</section>
{% endblock body %}

{% block contacts %}
{% endblock contacts %}

{% block extrascripts %}
    <script src="{% static 'js/mask.js' %}"></script>
{% endblock extrascripts %}