{% extends 'base.html' %}
{% load static %}

{% block banner %}
<section class="page-title-section top-position1 bg-img cover-background" data-overlay-dark="7" data-background="{% static 'img/bg/pricing.jpeg' %}">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-12">
                <h1>Наши цены</h1>
            </div>
            <div class="col-md-12">
                <div class="breadcrumb">
                    <span class="left-dot"></span>
                    <span class="right-dot"></span>
                    <ul>
                        <li><a href="{% url 'home' %}">Главная</a></li>
                        <li><a href="{% url 'pricing' %}">Наши цены</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock banner %}

{% block body %}
 <section>
    <div class="container">
        <div class="section-heading wow fadeIn" data-wow-delay="100ms">
            <h1>Наши цены</h1>
            <div class="heading-separator"></div>
        </div>
        <div data-wow-delay="200ms">
            <div id="subscribe-error" class="bd-callout-warning" style="display: none;">
                    <h3 class="mb-3 h4">У вас уже есть активная подписка</h3>
                </div>
            {% for rate in rates %}
            <div class="card border-color-extra-light-gray border-radius-5">
                <div class="row g-0 align-items-center">
                    <div class="col-sm-5">
                        <div class="card-header bg-white border-top-left-radius text-center border-0 pb-0 pt-4 px-3 px-xl-4 py-md-0">
                            <div class="p-3 bg-primary border-radius-5">
                                <h3 class="mb-0 font-weight-500 text-white">{{ rate.title }}</h3>
                                <span class="d-block my-3">
                                    <span class="display-5 alt-font font-weight-500 text-white">
                                        <span class="display-30 me-1 text-white">₽</span>{{ rate.start_price }}
                                    </span>
                                </span>
                                {% if request.user.is_authenticated %}
                                <button id="choice{{ forloop.counter }}" class="butn radius md butn-white" type="button" onclick="recurrentPayHandler('{{ rate.title }}',
                                                                                        '{{ csrf_token }}', {{ forloop.counter }})">Выбрать</button>
                                <div id="loader{{ forloop.counter }}" class="quform-loading-wrap"><span class="quform-loading"></span></div>
                                {% else %}
                                <a href="{% url 'login' %}" class="butn radius md butn-white">Выбрать</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-7 border-sm-start border-color-extra-light-gray">
                        <div class="card-body p-4">
                            <ul class="list-style2">
                                <li>
                                    <i class="fas fa-check-circle text-secondary me-3"></i>Участие в акции!
                                </li>
                                <li>
                                    <i class="fas fa-check-circle text-secondary me-3"></i>Выгодные автоотчеты
                                </li>
                                <li>
                                    <i class="fas fa-check-circle text-secondary me-3"></i>3 недели на выбор авто
                                </li>
                                <li>
                                    <i class="fas fa-check-circle text-secondary me-3"></i>{{ rate.reports_in_week }} отчетов каждую неделю
                                </li>
                                <li>
                                    <i class="fas fa-check-circle text-secondary me-3"></i>{{ rate.start_price }} рублей первые 3 дня, далее {{ rate.base_price }} рублей каждую неделю
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            <div class="card border-color-extra-light-gray border-radius-5">
                <div class="row g-0 align-items-center">
                    <div class="col-sm-5">
                        <div class="card-header bg-white border-top-left-radius text-center border-0 pb-0 pt-4 px-3 px-xl-4 py-md-0">
                            <div class="p-3 bg-primary border-radius-5">
                                <h3 class="mb-0 font-weight-500 text-white">Single</h3>
                                <span class="d-block my-3">
                                    <span class="display-5 alt-font font-weight-500 text-white">
                                        <span class="display-30 me-1 text-white">₽</span>99
                                    </span>
                                </span>
                                <a href="{% url 'home' %}" class="butn radius md butn-white">Выбрать</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-7 border-sm-start border-color-extra-light-gray">
                        <div class="card-body p-4">
                            <ul class="list-style2">
                                <li>
                                    <i class="fas fa-check-circle text-secondary me-3"></i>Подробный автоочет
                                </li>
                                <li>
                                    <i class="fas fa-check-circle text-secondary me-3"></i>Выгодная цена
                                </li>
                                <li>
                                    <i class="fas fa-check-circle text-secondary me-3"></i>Сохраняется навсегда в личном кабинете
                                </li>
                                <li>
                                    <i class="fas fa-check-circle text-secondary me-3"></i>Авто не нашлось - дополнительный автоотчет в подарок
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock body %}

{% block extrascripts %}
<script>
    const pricingURL =
        {% if request.is_secure %}"https://"{% else %}"http://"{% endif %}
        + "{{ request.META.HTTP_HOST }}"
        + "{% url 'pricing' %}"

    const recurrentCallbackURL =
        {% if request.is_secure %}"https://"{% else %}"http://"{% endif %}
        + "{{ request.META.HTTP_HOST }}"
        + "{% url 'recurrent-callback' %}"

    const redirectURL =
        {% if request.is_secure %}"https://"{% else %}"http://"{% endif %}
        + "{{ request.META.HTTP_HOST }}"
        + "{% url 'lk' %}"+"?redirect=successSubscribe"

    const redirectURLfail =
        {% if request.is_secure %}"https://"{% else %}"http://"{% endif %}
        + "{{ request.META.HTTP_HOST }}"
        + "{% url 'lk' %}"+"?redirect=fail"
</script>
    <script src="https://widget.cloudpayments.ru/bundles/cloudpayments.js"></script>
    <script src="{% static 'scripts/recurrentPayments.js' %}"></script>
{% endblock extrascripts %}