{% extends 'base.html' %}
{% load static %}

{% block banner %}
<section class="page-title-section top-position1 bg-img cover-background" data-overlay-dark="7" data-background="{% static 'img/bg/politics.jpeg' %}">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-12">
                <h1>Тарифные планы</h1>
            </div>
        </div>
    </div>
</section>
{% endblock banner %}

{% block body %}
<section>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="p-1-6 p-md-2-2 box-shadows">
                    <div class="mb-1-6 mb-lg-1-9 mb-xl-2-5 wow fadeIn" data-wow-delay="100ms">
                        <h3 class="mb-3 h4">Внимательно, ознакомьтесь с действующим тарифным планом:</h3>
                    </div>
                    <div class="mb-1-6 mb-lg-1-9 mb-xl-2-5 wow fadeIn" data-wow-delay="200ms">
                        <h3 class="mb-3 h4">Тариф «Single»</h3>
                        <p class="mb-0">Стоимость одной Проверки составляет 99 рублей</p>
                    </div>
                    <div class="mb-1-6 mb-lg-1-9 mb-xl-2-5 wow fadeIn" data-wow-delay="300ms">
                        <h3 class="mb-3 h4">Подписка «Basic»</h3>
                        <p class="mb-0">Стоимость Подписки составляет 590руб./ в неделю. В течение этой недели доступно 10 Проверок Пользователем. Таким образом стоимость одной Проверки в рамках Подписки на Тариф «Basic» составляет 59 рублей за 1 Проверку.</p>
                    </div>
                    <div class="mb-1-6 mb-lg-1-9 mb-xl-2-5 wow fadeIn" data-wow-delay="400ms">
                        <h3 class="mb-3 h4">Тариф «Ultima»</h3>
                        <p class="mb-4">Стоимость Подписки составляет 790руб./ в неделю. В течение этой недели доступно 15 Проверок Пользователем. Таким образом стоимость одной Проверки в рамках Подписки на Тариф «Ultima» составляет 52,6 рублей за 1 Проверку.</p>
                    </div>
                    <div class="mb-1-6 mb-lg-1-9 mb-xl-2-5 wow fadeIn" data-wow-delay="600ms">
                        <h3 class="mb-3 h4">С 17.10.2022 действует акция:</h3>
                        <p class="mb-0">При оплате пробного периода Подписки на Тариф «Basic» за 39 рублей Пользователь соглашается на условия Тарифа «Basic». После оплаты пробного периода на 3 дня предоставляется 1 оплаченная и 2 бесплатные Проверки авто. После окончания пробного периода Подписки, Подписка автоматически продлевается согласно Тарифу «Basic».
При оплате пробного периода Подписки на Тариф «Ultima» за 59 рублей Пользователь соглашается на условия Тарифа «Ultima». После оплаты пробного периода на 3 дня предоставляется 1 оплаченная и 2 бесплатные Проверки авто. После окончания пробного периода Подписки, Подписка автоматически продлевается согласно Тарифу «Ultima».
<br>Если при покупки подписки «Basic» по акционной цене 39 рублей или «Ultima» по акционной цене 59 рублей в первые 3 дня - израсходованы 1 оплаченный и 2 бесплатных отчета, то плата за ранее выбранную подписку взимается сразу же после израсходования ранее полученных отчетов.
<br>Если информации о ТС не было найдено в официальных базах данных, мы начисляем Пользователю на баланс аккаунта дополнительную Проверку взамен израсходованной;
<br>При подключенной Подписке, если истекло кол-во проверок (10 проверок в неделю по Тарифу «Basic»), проверки сверх Тарифа производятся по стандартному Тарифу 99 руб. за 1 Проверку.
<br>Подписку можно отменить в любой момент по кнопке «Отменить подписку» в личном кабинете</p>
                    </div>
                    <div class="wow fadeIn" data-wow-delay="700ms">
                        <h3 class="mb-3 h4">Безопасность платежей</h3>
                        <p class="mb-3">Безопасность платежей осуществляется с помощью БАНКА-ЭКВАЙЕРА, функционирующего на основе современных протоколов и технологий, разработанных международными платежными системами VISA International и MasterCard International (3D Secure, USAF). Безопасность передаваемой информации обеспечивается с помощью современных протоколов безопасности в Интернет (SSL/TLS) Передача полученных конфиденциальных данных Держателя карты (реквизиты карты, регистрационные данные ит.д.) осуществляются по закрытым сетям передачи данных, сертифицированным международными стандартами банковской безопасности PSI DSS 1 уровня.
<br>Все ваши данные надежно защищены.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock body %}