{% extends 'base.html' %}
{% load static %}

{% block header_style %}
    <header class="header-style">
{% endblock %}
{% block navigation %}
    <div class="attr-nav align-items-lg-center ms-lg-auto">
        <ul>
        </ul>
    </div>
{% endblock navigation %}

{% block banner %}
{% endblock banner %}

{% block body %}
<section>
    <div class="container wow fadeInUp" data-wow-delay="200ms">
        <form class="form" method="post" id="login-form">
            <div class="quform-elements">
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        {% csrf_token %}
                    <!-- Begin Text input element -->
                    <div class="col-md-12">
                        <div class="quform-element form-group">
                            <label>Email</label>
                            <div>
                                {{ form.email }}
                            </div>
                        </div>
                    </div>
                        <div class="col-md-12">
                        <div class="quform-element form-group">
                            <label hidden id="password-label">Код подтверждения</label>
                            <div>
                                {{ form.password }}
                            </div>
                        </div>
                    </div>
                        <div class="alert alert-danger alert-dismissible" style="display: none;" id="warning_">
                             Код подтверждения введен не верно!
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    <!-- End Text input element -->
                    <!-- Begin Submit button -->
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                        <div class="quform-submit-inner">
                            <button id="reload-code" style="display: none;" class="butn butn-primary md" type="button" onclick="sendRequest()"><span>Код повторно</span></button>
                        </div>
                        <div class="quform-submit-inner">
                            <button id="submit-button" class="butn butn-primary md" type="button" onclick="sendRequest()"><span>Далее</span></button>
                        </div>
                        <div id="loader" class="quform-loading-wrap"><span class="quform-loading"></span></div>
<!--                        <div class="quform-loading-wrap text-start"><span class="quform-loading"></span></div>-->
                    </div>
                    <!-- End Submit button -->
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>

<section>
</section>

{% endblock body %}

{% block contacts %}
{% endblock contacts %}

{% block extrascripts %}
    <script>
        const requestURL =
        {% if request.is_secure %}"https://"{% else %}"http://"{% endif %}
        + "{{ request.META.HTTP_HOST }}"
        + "{{ request.get_full_path }}"

        const authURL =
        {% if request.is_secure %}"https://"{% else %}"http://"{% endif %}
        + "{{ request.META.HTTP_HOST }}"
        + "{% url 'auth' %}"

        const redirectURL =
        {% if request.is_secure %}"https://"{% else %}"http://"{% endif %}
        + "{{ request.META.HTTP_HOST }}"
        + "{% url 'lk' %}"
    </script>
    <script src="{% static 'scripts/loginAJAX.js' %}"></script>
{% endblock extrascripts %}